#result-student{
  color: #000000;
  font-weight: bold;

}

#logo-test{
  width: 20%;
}

#btn-search{
  background-color:rgb(243, 173, 43);
  border: transparent;
}

#p-black{
  color: #000000;
  font-weight: 600;
}

#sec-chick{
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#p-black1{
  color: #000000;
  font-weight: bold;

}
